<!DOCTYPE html>
<html lang="en" ng-app="expenseTracker">
    <head>
        <meta charset="utf-8" />
        <title>Expense Tracker</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/angularui")
        @Styles.Render("~/Content/plugins")
		@Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
		<style type="text/css">
			body 
			{
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav
			{
				padding: 9px 0;
			}
			
			[ng:\cloak], [ng-cloak], .ng-cloak {
				display: none; !important;
			}
		</style>
    </head>
    <body ng-cloak>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					@Html.ActionLink("Expense Tracker", "Index", "Home", null, new { @class = "brand" })
                    <div class="nav-collapse collapse">
						<ul class="nav">
							<li>@Html.ActionLink("Archive", "Archive", "Home")</li>
							<li>@Html.ActionLink("Recurring Bills", "Recurring", "Home")</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				@RenderBody()
			</div>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="../../Scripts/jquery/jquery-ui-1.8.20.min.js"></script>
		<script type="text/javascript" src="../../Scripts/bootstrap.js"></script>
		<script type="text/javascript" src="../../Scripts/angular/angular.min.js"></script>
		<script type="text/javascript" src="../../Scripts/angular/angular-ui.js"></script>
		<script type="text/javascript" src="../../Scripts/angular/ui-bootstrap-0.2.0.js"></script>
		<script type="text/javascript" src="../../Scripts/fullcalendar.js"></script>
		<script type="text/javascript" src="../../StaticContent/js/ang-main.js"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
