<!DOCTYPE html>
<html lang="en" ng-app="expenseTracker">
    <head>
        <meta charset="utf-8" />
        <title>Expense Tracker</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/angularui")
        @Styles.Render("~/Content/plugins")
		@Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
		<style type="text/css">
			body 
			{
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav
			{
				padding: 9px 0;
			}
		</style>
    </head>
    <body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					@Html.ActionLink("Expense Tracker", "Index", "Home", null, new { @class = "brand" })
                    <div class="nav-collapse collapse">
						<ul class="nav">
							<li>@Html.ActionLink("Archive", "Archive", "Home")</li>
							<li>@Html.ActionLink("Recurring Bills", "Recurring", "Home")</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				@RenderBody()
			</div>
		</div>

        @Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/jqueryui")
		@Scripts.Render("~/bundles/twitterbootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/plugins")
        @Scripts.Render("~/bundles/static")

        @RenderSection("scripts", required: false)
    </body>
</html>
